<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkerboard Assignment</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='checkerboard.css') }}">
</head>
<body>
    {% for x in range(0, rowoftimes, 1) %}
    <div class=flexer1>
        {% for x in range(0, columnoftimes, 1) %}
        <div class=color1></div>
        <div class=color2></div>
        {% endfor %}
    </div>
    <div class=flexer1>
        {% for x in range(0, columnoftimes, 1) %}
        <div class=color2></div>
        <div class=color1></div>
        {% endfor %}
    </div>
    {% endfor %}
</body>
</html>
<!-- Do minimal logic in the html otherwise you can slow down the web app -->